.container {
    max-width: 1200px;
    margin: 0 auto;
}

.calcolo-prezzo {
    padding: 1rem;
    background-color: beige;
    color: #333;
    border-radius: 20px;
    border: 1px solid black;
}

h1 {
    margin-bottom: 3rem;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

#parametri-biglietto {
    background-color: rgb(243, 180, 9);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 0;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.col {
    width: calc(100% / 3);
}

.col-5 {
    width: calc(100% / 5);
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select {
    border-radius: 20px;
    border: none;
    min-height: 25px;
}

select>option {
    text-align: center;
    font-weight: bolder;
}

.row {
    display: flex;
    justify-content: center;
}

#parametri-biglietto button {
    background-color: rgb(29, 88, 218);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    margin: 1.5rem 0 0 0;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

#parametri-biglietto button:hover {
    color: rgb(29, 88, 218);
    background-color: white;
}

/* SECTION BIGLIETTO  */

#biglietto {
    text-align: center;
    display: none;
}

.contenuto-biglietto {
    border: 1px solid black;
    background-color: beige;
    /* padding: 1rem; */
}

.contenuto-biglietto>* {
    padding: 1rem;
}

.contenuto-biglietto .col-5:first-child {
    background-color: rgb(243, 180, 9);
}

#passeggero {
    font-weight: bolder;
}

#biglietto h2 {
    font-size: 1.2rem;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}